*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#e8e8e8;
}
#main
{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;

}
#right
{
    height: 100%;
    width: 40%;
    position: relative;
}
#left
{
    height: 100%;
    width: 60%;

}
#upper
{
    width: 100%;
    height: 50%;
    background-color: chocolate;
    display: flex;
}
#lower
{
    width: 100%;
    height: 50%;
    background-color: black;
    background-image: url(lucas-george-wendt-8ZGgg6rhzxs-unsplash.jpg);
    background-size: cover;
    background-position: right;
}
#upperleft
{
    width: 55%;
    height: 100%;
    background-color: cornflowerblue;
    background-image: url(mae-mu-U1iYwZ8Dx7k-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#upperright
{
    width: 45%;
    height: 100%;
    background-color: rgb(180, 237, 100);
    background-image: url(mae-mu-s6S8IgEN6-4-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#nav
{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
}
#navl
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    gap: 40px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ri-arrow-left-fill
{
    font-size: 40px;
    color:grey;

}
.ri-twitter-fill
{
    font-size: 25px;
    color: blue;
}
#text-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
#text-div h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    font-weight: 400;

}
#text-div h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;
    margin: 20px;
    position: relative;
}
#text-div h3{
    display: inline;
    border-bottom: solid black;
}

@media(max-width:500px)
{
    #main
    {
        flex-direction: column;
    }
    #main #text-div{
        width: 100%;
    }
    #main #left
    {
        width: 100%;

    }
}