body{
    font-family: Arial, sans-serif;
        background-image: url(https://cdn.dribbble.com/userupload/24421531/file/original-397231db512f5fd5d9e8858b92bd4d9b.gif);
         background-position: left;
  background-size:cover;
  height: 100vh; 
}

.container{
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(250, 255, 255);
    box-shadow: 10px 10px 50px rgb(2, 2, 2);
     background: rgba(242, 241, 241, 0.792); /* Semi-transparent white */
    backdrop-filter: blur(1px); /* Blurs whatever is behind the box */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle light border */
    border-radius: 25px; /* Rounded corners */
}

h1{
    text-align: center;
}

h2{
    margin-top: 20px;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

i{
    color: blue;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}